<div class="card">
    <!--
        La fora anterior era colocar la variable entre comillas y doble corchete 
        <img class="card-img-top" src="{{ varHeroe.img }}" alt="Card image cap">
        La nueva es solocar el source entre corchetes [src] 
    -->
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{ heroe.nombre }}</h5>
        <p class="card-text">{{ heroe.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

        <!-- Forma de llamar a la url de heroe enviando el parametro a través de codigo -->
        <button (click)="verHeroe()" type="button" class="btn btn-outline-primary btn-block">
            Ver más...
        </button>

        <!-- Forma de configurar la ruta con parametros para cargar un heroe a través del uso de un link 
        <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->

    </div>
</div>