<h1>Héroes <small>Marvel y DC</small></h1>
<hr>


<div class="card-columns">
    <!--*ngFor="let varHeroe of heroes; let i = index"-->
    <!-- 
        el [heroe] que esta abjo, apunta al atributo heroe que se creo con el decorador @Input en heroe-terjeta.component
         esta es la forma de pasarle el argumento desde este componente al otro.
    -->
    <app-heroe-tarjeta [heroe]="varHeroe" [index]="i" [nombreHeroe]="varHeroe.nombre" *ngFor="let varHeroe of heroes; let i = index"></app-heroe-tarjeta>



</div>